/* 字体MiSans引用 */
@font-face {
    font-family: MiSans;
    src: url(ttf/MiSans-Normal.ttf);
}
@font-face {
    font-family: MiSans;
    src: url(ttf/MiSans-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: MiSans_thin;
    src: url(ttf/MiSans-Thin.ttf);
}

* {
    /* margin: 0; */
    /* font-size: 1em; */
    font-family: MiSans, "Motiva Sans", Sans-serif, Microsoft YaHei, Arial, Helvetica;
}

.hr_short {
    padding: 0 2em 0 2em;
}

p {
    margin: 0 1em 0.5em 1em;
}

:root {    
    --maincolor:#94E9FF;
    --maincolor_thin:rgb(201,244,255); /* 菜单覆盖色 */
    --maincolor_thin3:rgb(223,248,255);
    --maincolor_thin4:rgba(148, 233, 255, 0.4);
    --gray:rgba(78, 78, 78, 0.3); /* 灰色 */
    --backgroundcolor:rgb(240, 249, 253);
    --font_color_title:#0097bc;
    --white_gray :rgb(231 231 231); /* 下拉界面背景色 */

    --header_mode2_width:110px;
    --white:rgba(255, 255, 255, 1);

    --test:rgb(0,0,0);
}

html, body{
    /* width: 100%; */
    /* height: 100%; */
    overflow-y: scroll;
    margin: 0;
}
::-webkit-scrollbar{display: none;}

body {
    /* height: 30em; */
    /* overflow-y: hidden; */
    margin: 0;
    /* background:url("D:/网页/images/background.jpg")  no-repeat center center;   加载背景图   背景图不平铺 */
    /* background-size:cover;  让背景图基于容器大小伸缩 */
    /* background-attachment:fixed;        当内容高度大于图片高度时，背景图像的位置相对于viewport固定    此条属性必须设置否则可能无效 */
    background-color: var(--backgroundcolor);/* 设置背景颜色，背景图加载过程中会显示背景色 */
}

hr {
    background-color: var(--maincolor);
}

#body {
    display: none;
    /* margin: 0; */
    /* overflow: hidden; */
}

#root {
    /* position: ; */
    /* position: relative; */
    /* top: -15px; */
}

#body_right {
    margin: 0 0 0 var(--header_mode2_width);
    padding-top: 1em;
    transition: all 0.5s;
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll;
    /* transition: opacity 0.5s; */
    /* animation: card_move_right 1s ease 0s 1 normal both; */
}

/* @keyframes process25 {
    0% {width: 0%;}
    100% {width: 25%;}
}
@keyframes process50 {
    0% {width: 0%;}
    100% {width: 50%;}
}
@keyframes process75 {
    0% {width: 0%;}
    100% {width: 75%;}
}
@keyframes process100 {
    0% {width: 75%;}
    100% {width: 100%;}
} */
@keyframes process_leave {
    0% {top: 0;}
    100% {top: -0.5em;}
}
@keyframes process_in {
    0% {top: -0.5em;}
    100% {top: 0;}
}

#div_head_process {
    z-index: 100;
    position: fixed;
    top: 1px;
    margin: 1px;
    width: 100vw;
    /* animation-name: process_leave; */
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    /* height: 1em; */
}

#head_process {
    z-index: 100;
    height: 5px;
    width: 0%;
    border-radius: 10px;
    margin: auto 0 auto 0;
    background-color: rgb(0, 157, 255);
    box-shadow: 0px 0px 10px 0px rgb(0 157 255);
    /* animation-name: process75; */
    /* animation-duration: 1s; */
    /* animation-delay: 0; */
    /* animation-fill-mode: both; */
    transition: width 1s;
    /* transform: width 2s;
    transition-timing-function: ease; */
    /* transform: width 2s; */
    /* transition-timing-function: ease; */
}

@keyframes gointo {
    0% {opacity: 0; left: -100px;}
    100% {opacity: 1; left: 0px;}
}
@keyframes goout {
    0% {opacity: 1; right: 0;}
    100% {opacity: 0; right: -100px;}
}

.card { /* 主体设置 */
    position: relative;
    /* display: inline-block; */
    /* display: flexbox; */
    /* display: inline-flex; */
    animation-name: gointo;
    -o-animation-name: gointo;
    -moz-animation-name: gointo;
    -webkit-animation-name: gointo;
    animation-duration: 1s;
    -o-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    /* flex: 0 0 30%; */
    height: 100%;
    background-color: white;
    margin: 0 auto 10px auto;
    width: 90%;
    padding: 5px 0 5px 0;
    border: 0px solid var(--gray);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card > div > section {
    margin: 0 10px 0 10px;
}

#iframe_head {
    /* width: 100%; */
    
}

/* #header a:link, #header a:visited, #header a:hover, #header a:active {
    color: black;
    text-decoration: none;
} */

.title_div {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.p_title {
    /* padding: 0 0 0 0.5em; */
    margin-left: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--font_color_title);
}

@keyframes load_block1 { /* 加载块动画 */
    0% {left: 0em; top: 0em;}
    25% {left: var(--loading_wh); top: 0em;}
    50% {left: var(--loading_wh); top: var(--loading_wh);}
    75% {left: 0em; top: var(--loading_wh);}
    100% {left: 0em; top: 0em;}
}
@keyframes load_block2 {
    0% {left: var(--loading_wh); top: var(--loading_wh);}
    25% {left: 0em; top: var(--loading_wh);}
    50% {left: 0em; top: 0em;}
    75% {left: var(--loading_wh); top: 0em;}
    100% {left: var(--loading_wh); top: var(--loading_wh);}
}

.loadings_style_1 {
    width: var(--loading_wh);
    height: var(--loading_wh);
    position: relative;
}
.loading_style_1_1 {
    width: var(--loading_wh);
    height: var(--loading_wh);
    background-color: var(--maincolor);
    position: absolute; /* 重合div元素 */
    /* border: 1px solid black;
    border-radius: 5px; */
    animation-name: load_block1;
    -o-animation-name: load_block1;
    -moz-animation-name: load_block1;
    -webkit-animation-name: load_block1;

    animation-duration: 4s;
    -o-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;

    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.loading_style_1_2 {
    width: var(--loading_wh);
    height: var(--loading_wh);
    background-color: var(--maincolor);
    position: absolute;

    animation-name: load_block2;
    -o-animation-name: load_block2;
    -moz-animation-name: load_block2;
    -webkit-animation-name: load_block2;

    animation-duration: 4s;
    -o-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;

    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

#page_loading {
    /* position: absolute; */
    margin: auto;
}

@keyframes loading_style_2_1 {
    0% {margin-left: 48%;box-shadow: 0 0 0px 0 var(--maincolor); width: 3%;}
    30% {box-shadow: 0px 0 5px 0 var(--maincolor); width: 10%;}
    60% {margin-left: 0%; box-shadow: 0 0 0px var(--maincolor); width: 3%;}
    80% {box-shadow: 0px 0 5px 0 var(--maincolor); width: 10%;}
    100% {margin-left: 48%; box-shadow: 0px 0 0px 0 var(--maincolor); width: 3%;}
}
@keyframes loading_style_2_2 {
    0% {margin-right: 48%;box-shadow: 0 0 0px 0 var(--maincolor); width: 3%;}
    30% {box-shadow: 0px 0 5px 0 var(--maincolor); width: 10%;}
    60% {margin-right: 0%; box-shadow: 0 0 0px var(--maincolor); width: 3%;}
    80% {box-shadow: 0px 0 5px 0 var(--maincolor); width: 10%;}
    100% {margin-right: 48%; box-shadow: 0px 0 0px 0 var(--maincolor); width: 3%;}
}

.loadings_style_2 {
    /* background-color: teal; */
    width: 100%;
    height: 10px;
    overflow: hidden;
    /* box-shadow: ; */
}

.loading_style_2_1 {
    background-color: var(--maincolor);
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 0%;
    /* align-self: center; */
    width: 20px;
    height: 2px;
    top: 5px;
    animation: loading_style_2_1 2.5s ease 0s infinite normal both;
    /* left: auto; */
    /* right: auto; */
}

.loading_style_2_2 {
    background-color: var(--maincolor);
    position: relative;
    border-radius: 0%;
    margin: 0 auto 0 auto;
    top: 3px;
    animation: loading_style_2_2 2.5s ease 0s infinite normal both;
    width: 20px;
    height: 2px;
}

@keyframes button_180 {
    0% {
        transform: rotate(0deg);
        transform-origin: center;
        -ms-transform:rotate(0deg); 	/* IE 9 */
        -moz-transform:rotate(0deg); 	/* Firefox */
        -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
        -o-transform:rotate(0deg); 	/* Opera */
    }
    100% {
        transform: rotate(180deg);
        transform-origin: center;
        -ms-transform:rotate(180deg); 	/* IE 9 */
        -moz-transform:rotate(180deg); 	/* Firefox */
        -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
        -o-transform:rotate(180deg); 	/* Opera */
    }
}
@keyframes button_360 {
    0% {
        transform: rotate(180deg);
        transform-origin: center;
        -ms-transform:rotate(180deg); 	/* IE 9 */
        -moz-transform:rotate(180deg); 	/* Firefox */
        -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
        -o-transform:rotate(180deg); 	/* Opera */
    }
    100% {
        transform: rotate(360deg);
        transform-origin: center;
        -ms-transform:rotate(360deg); 	/* IE 9 */
        -moz-transform:rotate(360deg); 	/* Firefox */
        -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
        -o-transform:rotate(360deg); 	/* Opera */
    }
}

@keyframes showfrom_top {
    0% {height: 0;}
    100% {height: 10em;}
}
@keyframes hidefrom {
    0% {height: 10em;}
    100% {height: 0;}
}
@keyframes showfrom_top_text {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes hidefrom_text {    
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.button_arrow { /* 按钮-箭头 */
    height: 100%;
    width: 100%;
    background-color: unset;
    border: 0px;

    /* animation-name: button_180; */
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.button_detail {
    position: relative;
    animation-name: showfrom_top;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.button_detail_text {
    text-align: left;
    opacity: 0;
    animation-name: showfrom_top_text;
    animation-duration: 0.2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes max_hight {
    0% {max-height: 0;}
    100% {max-height: var(--max_hight);}
}

#top_message {
    display: flex;
    /* height: 1.5em; */
    /* position: fixed; */
    /* top: 0; */
    width: 100%;

    /* background-color: var(--maincolor); */
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    --max_hight: 3em;
    animation: max_hight 2s ease 1s 1 normal both;
    /* animation-name: max_height; */
}

@keyframes message_into {
    0% {right: -20em;}
    100% {right: 1em;}
}
@keyframes message_out {
    0% {right: 1em;}
    100% {right: -20em; display: none;}
}
.message_warn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: white;
    /* border: 0px solid var(--maincolor); */
    border-radius: 5px;

    animation-name: message_into, message_out;
    -o-animation-name: message_into, message_out;
    -moz-animation-name: message_into, message_out;
    -webkit-animation-name: message_into, message_out;
    -ms-animation-name: message_into, message_out;

    animation-delay: 0s, 10s;
    -o-animation-delay: 0s, 10s;
    -moz-animation-delay: 0s, 10s;
    -webkit-animation-delay: 0s, 10s;
    -ms-animation-delay: 0s, 10s;

    animation-duration: 1s, 1s;
    -o-animation-duration: 1s, 1s;
    -moz-animation-duration: 1s, 1s;
    -webkit-animation-duration: 1s, 1s;
    -ms-animation-duration: 1s, 1s;

    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}

.message_warn_div {
    display: flex;
    background-color: rgba(249, 170, 0, 0.1);
    border: 1.5px solid rgb(249, 170, 0);
    color: rgb(249, 170, 0);
    padding: 3px;
    border-radius: 5px;
}

.error {
    overflow: hidden;
    margin: 1em auto 1em auto;
    width: 90%;
    /* max-height: 0; */
    background-color: white;
    /* border-radius: 10px; */
    --max_hight: 10em;
}

.error_div {
    display: flex;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1.5px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    padding: 3px;
    animation: max_hight 2s ease 0s 1 normal both;
    /* animation: showwarn 5s ease 0s 1 normal both; */
    /* border-radius: 10px; */
}

.div_process {
    border: 1px solid var(--gray);
    border-radius: 10px;
    /* z-index: 100; */
}
@keyframes process {
    0% {width: 0;}
    100% {width: var(--process);}
}
.process {
    /* z-index: 100; */
    height: 9px;
    width: 0%;
    border-radius: 10px;
    margin: auto 0 auto 0;
    background-color: rgb(0, 157, 255);
    box-shadow: 0px 0px 10px 0px rgb(0 157 255);
    /* transform-origin: width 1s; */
    animation: process 1s ease-out 0s normal both;
    /* transition: width 1s; */
}