#head_connect {
    background-color: var(--backgroundcolor);
    border-bottom: none;
}

.connect {
    text-align: center;
    margin: auto;
    width: 100%;
}

.server {
    margin: 1.5em 0 1.5em 0;
    width: 100%;
    border-collapse: collapse;
}

/* #server {
    border-style: solid;
    border-color: rgba(78, 78, 78, 0.3);
    border-width: 0 1px 1px 0;
} */

/* .server td,.server th {
    border: 1px solid rgba(78, 78, 78, 0.3);
} */

.server td, .server th {
    border-top: 0;
    border-right: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    /* border-left: 0; */
}

.server tr:last-child td {
    border-bottom: 0;
}

.server tr td:last-child, .server tr th:last-child {
    border-right: 0;
}


.server_left {width: 30%; height: 3em;}
.state {width: 10%;}
.address {width: 50%;}
.server_detail {width: 20%;}

#Minecraft_state {
    color: red;
    /* color: green; */
}
#Unturned_state {
    color: red;
    /* color: green; */
}

.grip_title {
    border-top: unset !important;
}
.grip_left {
    border-left: unset !important;
}

.button_detail {
    
    /* height: 5em; */
    background-color: var(--white_gray);
    grid-column: 1 / 5;

}
.button_detail_text {
    border-top: unset !important;
}

#server_game {
    display: grid;

    grid-template-columns: 30% 10% 50% 10%;
    grid-template-rows: 3em 3em 3em 3em 3em;
}

#server_game div {
    
    height: 100%;
    width: 100%;
    border-left: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
}

#Minecraft {
    /* overflow: auto; */
    background: url(images/icon_minecraft.png);
    background-repeat: no-repeat;
    background-size: 7em;
    background-position: top;

    /* border-style: solid;
    border-color: rgba(78, 78, 78, 0.3);
    border-width: 1px 1px 1px 0; */
}
#Unturned {
    /* overflow: auto; */
    background: url(images/icon_unturned.png);
    background-repeat: no-repeat;
    background-size: 7em;
    background-position: top;

    /* border-style: solid;
    border-color: rgba(78, 78, 78, 0.3);
    border-width: 1px 1px 0 0; */
}

#Mumble section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#server_voice {
    display: grid;
    
    grid-template-columns: 30% 10% 50% 10%;
    grid-template-rows: 3em 3em 3em;
    
}

.grip_title section {
    font-size: 1em;
    font-weight: bold;
}

#server_voice div{
    height: 100%;
    width: 100%;
    border-left: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
}

#server_voice section, #server_game section {
    width: fit-content;
    margin: 1em auto 1em auto;
}

#mumble section {
    display: flex;

    justify-content: center;
    align-items: center;
}

/* #server_detail_button_mumble img:hover {
    background-color: var(--gray);
} */
/* 
#server_detail_button_mumble:active #server_detail_mumble {
    display: block;
    animation-name: showfrom_top;
} */