* {
    font-family: Microsoft YaHei, Arial, Helvetica;    
}

body {
    /* background:url("D:/网页/images/background.jpg")  no-repeat center center;   加载背景图   背景图不平铺 */
    /* background-size:cover;  让背景图基于容器大小伸缩 */
    /* background-attachment:fixed;        当内容高度大于图片高度时，背景图像的位置相对于viewport固定    此条属性必须设置否则可能无效 */
    background-color: white;   /* 设置背景颜色，背景图加载过程中会显示背景色 */
}

.header {
    text-align: left;
    color: rgb(115, 201, 241);
}

p {
    margin: 0em;
}
/* .daohang {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(55, 44, 44, 0.642);

}

li.daohang {
    float: left;
}

li.daohang a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

li.daohang a:hover {
    background-color: #111;
} */

#body {
    float: left;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#body::after {
    content: "";
    display: block;
    clear: both;
}

.connect {

    float: left;

    text-align: center;
    margin: auto;
    max-width: 70%;
    width: 30em;
    /* height: 30em; */

    border-style: solid;
    border-color: #4e4e4e;
    border-width: 2px;
    border-radius: 10px;
}

.server {

    border-radius: 10px;

    margin: 1.5em auto 1.5em auto;
    width: 90%;
    border-collapse: collapse;
}

.connect_title {

    border: 1px solid #4e4e4e;
    font-size: 1.5em;

    
    text-align: center;
}

.server td,.server th {
    border: 1px solid #4e4e4e;
}

#Minecraft {
    overflow: auto;
    background: url(https://raw.githubusercontent.com/han-karry/personal_page/master/css/images/icon_minecraft.png);
    background-repeat: no-repeat;
    background-size: 7em;
    background-position: top;
}
#Unturned {
    overflow: auto;
    background: url(https://raw.githubusercontent.com/han-karry/personal_page/master/css/images/icon_unturned.png);
    background-repeat: no-repeat;
    background-size: 7em;
    background-position: top;
}

.server_left {width: 30%; height: 3em;}
.state {width: 10%;}
.address {width: 70%;}

#Minecraft_state {
    color: red;
    /* color: green; */
}
#Unturned_state {
    color: red;
    /* color: green; */
}

.diary {
    float: left;
    margin: 0 auto 0 5%;
    display: block;
    width: 25%;
    border: 1px solid #4e4e4e;
    border-radius: 10px;
}

.diary p {
    text-align: center;
    font-size: 1.5em;
}

footer {
    text-align: center;
    font-size: 0.5em;
    color: #888888;
}
