@font-face {
    font-family: MiSans;
    src: url(ttf/MiSans-Normal.ttf);
}

@font-face {
    font-family: MiSans;
    src: url(ttf/MiSans-Bold.ttf);
    font-weight: bold;
}

* {
    font-family: MiSans, Microsoft YaHei, Arial, Helvetica;
}

p {
    margin: 0em;
}

body {
    margin: 0;
    /* background:url("D:/网页/images/background.jpg")  no-repeat center center;   加载背景图   背景图不平铺 */
    /* background-size:cover;  让背景图基于容器大小伸缩 */
    /* background-attachment:fixed;        当内容高度大于图片高度时，背景图像的位置相对于viewport固定    此条属性必须设置否则可能无效 */
    background-color: rgba(115, 201, 241, 0.1);/* 设置背景颜色，背景图加载过程中会显示背景色 */
}

.connect, .diary, .header {
    background-color: white;
}

#head {
    border-style: none none solid none;
    border-width: 1px;
    border-color: rgba(136, 136, 136, 0.3);
}

.header {
    width: 100%;
    /* margin: 0 20% 0 20%; */
    /* padding: 0 20% 0 20%; */
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 15% 20%;
    /* text-align: center; */
    /* color: rgb(115, 201, 241); */
}

.header_content, .header_content img {
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.header_content a:link, .header_content a:visited, .header_content a:hover, .header_content a:active {
    color: black;
    text-decoration: none;
}

/*
.daohang {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(55, 44, 44, 0.642);
}

ul.daohang {
    list-style-type: none;
    
}

li.daohang {
    float: left;
    display: inline-block;
    height: 3em;
    width: 7em;
}

li.daohang a {
    width: 3em;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

li.daohang a:hover {
    background-color: #111;
}
 */
#body {
    display: grid;
    grid-gap: 0 0;
    grid-template-columns: 70% 30%;
    /* box-sizing: border-box; */
    /* float: left; */
    /* padding: 0; */
    /* width: 100%; */
}

.connect {

    /* float: left; */

    text-align: center;
    margin: auto;
    width: 100%;
    /* width: 30em; */
    /* height: 30em; */

    border-style: solid;
    border-color: #4e4e4e;
    border-width: 2px;
    border-radius: 10px;
}

.server {

    border-radius: 10px;

    margin: 1.5em auto 1.5em auto;
    width: 90%;
    border-collapse: collapse;
}

.connect_title {

    border: 1px solid #4e4e4e;
    font-size: 1.5em;

    
    text-align: center;
}

.server td,.server th {
    border: 1px solid #4e4e4e;
}

#Minecraft {
    overflow: auto;
    background: url(https://raw.githubusercontent.com/han-karry/personal_page/master/css/images/icon_minecraft.png);
    background-repeat: no-repeat;
    background-size: 7em;
    background-position: top;
}
#Unturned {
    overflow: auto;
    background: url(https://raw.githubusercontent.com/han-karry/personal_page/master/css/images/icon_unturned.png);
    background-repeat: no-repeat;
    background-size: 7em;
    background-position: top;
}

.server_left {width: 30%; height: 3em;}
.state {width: 10%;}
.address {width: 50%;}
.server_detail {width: 20%;}

#Minecraft_state {
    color: red;
    /* color: green; */
}
#Unturned_state {
    color: red;
    /* color: green; */
}

.diary {
    /* float: left; */
    margin: 0 auto 0 5%;
    /* display: block; */
    /* width: 20em; */
    /* width: 30%; */
    border: 1px solid #4e4e4e;
    border-radius: 10px;
}

.diary p {
    text-align: center;
    font-size: 1.5em;
}

.diary ul {
    /* margin: auto; */
    padding: 0 0 0 1.5em;
}
/* 
#body::after {
    content: "";
    display: block;
    clear: both;
} */

footer {
    text-align: center;
    font-size: 0.5em;
    color: #888888;
}
