footer { /* 页脚 */
    margin-left: var(--header_mode2_width);
    text-align: center;
    font-size: 0.5em;
    color: #888888;
}

#footer_hr {
    /* height: 1px; */
    border: none;
    border-bottom: 1px solid gray;
}