#head2_connect {
    /* background-color: var(--backgroundcolor) !important; */
}

.connect {
    text-align: center;
    margin: auto;
    width: 100%;
}

.grip_title {
    border-top: unset !important;
}
.grip_left {
    border-left: unset !important;
}
/* 
@keyframes showfrom_top {
    0% {height: 0em;}
    100% {height: 10em;}
}

@keyframes hidefrom {
    0% {height: 10em;}
    100% {height: 0;}
} */

.button_detail {
    position: relative;

    animation: none 0.5s ease 0s 1 normal both;
    display: none;
    /* max-height: 0em; */
    /* transition: all 0.7s; */
    height: fit-content !important;
    /* min-height: 1em; */
    /* display: block; */
    /* height: 5em !important; */
    width: 100%;
    /* height: 5em; */
    background-color: var(--white_gray);
    grid-column: 1 / 5;

    --max_height:100px;
}
.button_detail_text {
    padding: 5px 5px 5px 5px;
    border-top: unset !important;
    height: 100%;
    text-align: left;
    font-size: small;
}

#server_game {
    display: grid;

    grid-template-columns: 30% 10% 50% 10%;
    /* grid-template-rows: auto auto auto auto auto; */
}

#server_game > div {
    height: 3em;
    /* height: 100%; */
    width: 100%;
    border-left: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
}

#Minecraft {
    /* overflow: auto; */
    background: url(images/icon_minecraft.png);
    background-repeat: no-repeat;
    background-size: 7em;
    background-position: top;

    /* border-style: solid;
    border-color: rgba(78, 78, 78, 0.3);
    border-width: 1px 1px 1px 0; */
}
#Unturned {
    /* overflow: auto; */
    background: url(images/icon_unturned.png);
    background-repeat: no-repeat;
    background-size: 7em;
    background-position: top;

    /* border-style: solid;
    border-color: rgba(78, 78, 78, 0.3);
    border-width: 1px 1px 0 0; */
}

#mumble > section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#server_voice {
    display: grid;
    
    grid-template-columns: 30% 10% 50% 10%;
    /* grid-template-rows: auto auto auto;    */
}

.grip_title section {
    font-size: 1em;
    font-weight: bold;
}

#server_voice > div{
    /* height: 100%; */
    height: 3em;
    width: 100%;
    border-left: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
}

#server_voice section, #server_game section {
    /* width: fit-content; */
    width: 100%;
    text-align: center;
    margin: 1em auto 1em auto;
}

.gameserver_address {
    position: relative;
}

.copy_div {
    position: absolute;
    right: 0;
    /* display: none; */
    display: inline-block;
    visibility: hidden;
    height: 1.5em;
    width: 1.5em;
    background: url(/css/hud/fuzhi.svg) no-repeat;
    background-position: center;
    background-size: cover;
    /* visibility: visible; */
}

/* #server_detail_button_mumble img:hover {
    background-color: var(--gray);
} */
/* 
#server_detail_button_mumble:active #server_detail_mumble {
    display: block;
    animation-name: showfrom_top;
} */