@keyframes header_mode2_show {
    0% {left: -130px;}
    100% {left: 0px;}
}
@keyframes card_move_right {
    0% {margin-left: 0;}
    100% {margin-left: var(--header_mode2_width);}
}

.card {

}
#body {
    /* display: flex; */
}

#header_mode2 {
    /* width: var(--header_mode2_width); */
    z-index: 50;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    bottom: 0;
    /* height: 100%; */
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    /* height: var(--max_height); */
    background-color: var(--white);
    animation: none 1s ease 0s 1 normal both;
    animation-name: header_mode2_show, max_height_forward;
    --max_height: 100vh;
    /* animation: max_height_start 1s ease 0s 1 normal both; */
    /* display: flex; */
    /* height: fit-content; */
    /* grid-row: 1 / 2; */
    /* flex: 80px; */
}

#header_mode2_div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height: 100%;
}

#header_background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
    background: url(/logo2.png) no-repeat no-repeat fixed -30vh center;
    background-size: 80vh;
    overflow: hidden;
}

#header_content {
    /* display: flex; */
    /* flex-direction: column; */
    /* position: relative; */
    margin: 5px 0 50px 0;
    /* max-height: 90px; */
    /* top: 0px; */
    /* bottom: 50px; */
    /* padding: 0 0 50px 0; */
    height: 100%;
    overflow-y: auto;
    /* overflow: hidden; */
    /* background: url(/logo2.png) no-repeat fixed -30vh center;
    background-size: 80vh; */
    /* grid-row: 1 / 2; */
    /* flex: 200px; */
    /* flex: 0 0 200px; */
    /* width: var(--header_mode2_width); */
    /* position: fixed; */
}

#div_logo {
    width: 100%;
    border-bottom: 1px solid var(--gray);
}

#logo {
    /* top: 0; */
    /* display: flex; */
    width: 40px;
    height: 40px;
    margin: 0 auto 0 auto;
    /* border-bottom: 1px solid var(--gray); */
}

.header_mode2_img {
    border: 0px solid var(--gray);
    border-radius: 20px;
    /* border-radius: 20px 0 0 20px; */
    border-right: 0px;
    width: 100%;
    height: 50px;
    font-size: 1em;
    /* border-bottom: 1px solid var(--gray); */
    background-color: var(--maincolor_thin);
    padding: 0;
    /* margin: 0; */
}

.header_mode2_img > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header2_mode2 {
    transition: max-height 0.5s;
    overflow: hidden;
    height: fit-content;
    /* height: 100%; */
}

.header2_mode2_button {
    border: 0px solid var(--gray);
    border-radius: 20px;
    /* border-radius: 20px 0 0 20px; */
    border-right: 0px;
    /* border-bottom: 1px solid var(--gray); */
    height: 30px;
    font-size: small;
    background-color: transparent;
    text-align: left;
    /* font-size: 1em; */
    /* border-bottom: 1px solid var(--gray); */
    width: 100%;
    padding: 0 0 0 15px;
    margin: 0 0 0 30px;
    transition: background-color;
    transition-duration: 0.5s;
}

/* @keyframes colorchange {
    0% {background-color: var(--white);}
    100% {background-color: var(--maincolor_thin);}
} */

.header2_mode2_button:hover {
    /* animation: colorchange 0.5s ease 0s 1 normal both; */
    background-color: var(--maincolor_thin3);
    /* animation-name: colorchange; */
    /* animation-duration: 1s; */
}
.header2_mode2_button:active {
    /* animation: colorchange 0.5s ease 0s 1 normal both; */
    background-color: var(--maincolor_thin);
    /* animation-name: colorchange; */
    /* animation-duration: 1s; */
}
/* #header_mode2 > button:active ,.header2_mode2_button:active {
    background-color: var(--maincolor_thin);
} */

#head2_brightsunplan {
    background: linear-gradient(45deg, #f6d365, #fda085);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    /* background-color: white !important; */
    /* font-size: 1.5em; */
}

#div_flex {
    position: absolute;
    /* position: sticky; */
    margin-top: auto;
    border-top: 1px solid var(--gray);
    /* position: absolute; */
    z-index: 11;
    bottom: 0;
    height: 50px;
    width: var(--header_mode2_width);
    transition: all 0.5s;
}

#flex {
    /* width: 100%; */
    background-color: transparent;
    border: 0px solid var(--gray);
    /* transform: rotate(--rotate) 0.5s; */
    animation-duration: 0.5s;
    animation-fill-mode: both;
    /* transform-origin: center; */
    /* border-top: 1px; */
}