@keyframes transparent_change1 {
    0% {background-color: rgba(255, 255, 255, 1);}
    100% {background-color: rgba(255, 255, 255, 0.2)}
}
@keyframes transparent_change2 {
    0% {background-color: rgba(255, 255, 255, 0.2);}
    100% {background-color: rgba(255, 255, 255, 1)}
}

#header, #header button, #div_header2, #header2 {
    animation-name: transparent_change1;
    animation-duration: 1s;
    animation-fill-mode: both;
}
#header:hover, #header button:hover, #div_header2:hover, #header2:hover {
    animation-name: transparent_change2;
    animation-duration: 1s;
    animation-fill-mode: both;
}