/* @font-face {
    font-family: MiSans;
    src: url(ttf/MiSans-Normal.ttf);
}
@font-face {
    font-family: MiSans;
    src: url(ttf/MiSans-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: MiSans_thin;
    src: url(ttf/MiSans-Thin.ttf);
} */

@font-face {
    font-family: Alimama;
    src: url(/css/ttf/Alimama_ShuHeiTi_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Ds-digital;
    src: url(/css/ttf/DS-Digital/DS-DIGI-1.ttf);
}

:root {
    --backgroundcolor:rgb(240, 249, 253);

    --background_color:rgb(255,255,255);
    --background_color_noope:rgb(255,255,255);
    --background_color_ope:rgba(255,255,255,0.8);
    --background_color_black:rgba(0,0,0,1);
    --background_color_black_1:rgba(20,20,30,1);
    --background_color_black_1_ope:rgba(20,20,30,0.8);
    --background_color_black_2:rgba(40,40,60,1);
    --background_color_black_2_ope:rgba(40,40,60,0.8);
    --background_color_black_3:rgba(60,60,80,1);
    --background_color_black_3_ope:rgba(60,60,80,0.8);
    --background_color_black_4:rgba(80,80,100,1);

    --card_2_border:rgb(20,100,150);

    --maincolor:#94E9FF;
    --maincolor_2:#5FCBF5;
    --maincolor_3:rgb(15,150,250);
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    /* width: 0; */
    width: 5px;
    /* height: 30px; */
}
 
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    /* display: none; */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: var(--background_color_black_3);
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    background-color: #5FCBF5;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::selection {
    background: var(--maincolor_3);
}

.sanjiao {
    border: 1px solid transparent;
    width: 10px;
    height: 10px;
    border-top-color: #5FCBF5;
}

* {
    /* margin: 0; */
    /* font-size: 1em; */
    font-family: Alimama, MiSans, "Motiva Sans", Sans-serif, Microsoft YaHei, Arial, Helvetica;
    color: white;
    font-weight: 400;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background_color_black);
}

hr {
    /* border-bottom: 1px solid var(--maincolor); */
    border-color: gray;
}

a {
    position: relative;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

a::after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: var(--maincolor);
    transform: scaleX(0);
    transition: all 0.3s;
}

a:hover::after {
    transform: scaleX(1);
}

.parallelogram
{
    display:inline-block;
    padding:50px 100px;
    border:0px solid white;
    transform:skew(-20deg);
    background-color: white;
}

@keyframes process_leave {
    0% {top: 0;}
    100% {top: -0.5em;}
}
@keyframes process_in {
    0% {top: -0.5em;}
    100% {top: 0;}
}

#div_head_process {
    z-index: 1100;
    position: fixed;
    top: 1px;
    margin: 1px;
    width: 100vw;
    /* animation-name: process_leave; */
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    /* height: 1em; */
}

#head_process {
    z-index: 1100;
    height: 5px;
    width: 0%;
    border-radius: 10px;
    margin: auto 0 auto 0;
    background-color: rgb(0, 157, 255);
    box-shadow: 0px 0px 10px 0px rgb(0 157 255);
    transition: width 1s;
}

@keyframes loading_leave {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    
    animation: loading_leave 1.5s ease 3s 1 normal both;
    z-index: 1000;
}

@keyframes loading_background {
    0% {height: 0vh;}
    100% {height: 100vh;}
}

#loading_background_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: skyblue;
    animation: loading_background 2s ease 3s 1 normal both;
}

#loading_background_2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50vw;
    height: 100vh;
    background-color: royalblue;
    animation: loading_background 2s ease 5s 1 normal both;
}

@keyframes loading_image {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#loading_image {
    margin: 0 auto;
    margin-top: 20vh;
    width: 40vw;
    height: 40vh;
    background: url(/logo2.png) no-repeat;
    background-position: center;
    background-size: contain;

    opacity: 0;
    animation: loading_image 1.5s ease 0.5s 1 normal both;
}

@keyframes loading_text_in {
    0% {font-size: 2.5em; opacity: 0.5;}
    100% {font-size: 2em; opacity: 1;}
}
@keyframes loading_text_keep {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}

#loading_text {
    /* display: none; */
    margin: 0 auto;
    margin-top: -10vh;
    font-size: 2em;
    color: black;
    /* font-weight: 10; */
    width: fit-content;

    opacity: 0.5;
    animation-name: loading_text_in,loading_text_keep;
    animation-duration: 0.5s, 1.5s;
    animation-timing-function: ease, linear;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1, infinite;
    animation-direction: normal;
    animation-fill-mode: both;

    /* animation: loading_text_in 0.5s ease 0s 1 normal both; */
    /* animation: loading_text_keep 1.5s linear 0s infinite normal both; */
}

#body_background {
    /* position: fixed; */
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: url(/css/images/ori_back.jpg) no-repeat;
    background-size: contain;
    z-index: -1;
}

@keyframes sign_scroll_to_bottom {
    0% {bottom: 5px;}
    50% {bottom: 0px;}
    100% {bottom: 5px;}
}
@keyframes sign_scroll_to_bottom_leave {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
#sign_scroll_to_bottom  {
    position: fixed;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}
#sign_scroll_to_bottom_1 {
    bottom: 5px;
    position: relative;
    width: 100%;
    color: var(--maincolor);
    text-align: center;
    animation: sign_scroll_to_bottom 1s ease 0s infinite normal both;
}

#main_1 {
    position: relative;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

@keyframes card_1_in {
    0% {transform: rotate(-60deg); opacity: 0;}
    /* 15% {transform: rotate(30deg);} */
    /* 30% {transform: rotate(-15deg);} */
    50% {transform: rotate(2deg); opacity: 1;}
    80% {transform: rotate(-1deg);}
    /* 90% {transform: rotate(1deg);} */
    100% {transform: rotate(0deg);}
}

@keyframes card_1_out {
    0% {left: 50%; opacity: 1;}
    100% {left: 75%; opacity: 0;}
}

#card_1 {
    position: relative;
    /* box-sizing: border-box; */
    margin: 0 auto;
    top: 10%;
    width: 60%;
    height: 80%;
    border: 1px solid var(--maincolor_2);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 var(--maincolor);
    padding: 0 1em 0 1em;
    text-align: center;
    
    /* background-color: var(--background_color_ope); */
    background-color: var(--background_color_black_1_ope);
    
    /* height: 100vh; */
    /* color: white; */
    animation: card_1_in 0.5s ease-out 1s 1 normal both;
    animation-play-state: paused;
    transform-origin: bottom center;
}


@keyframes headphoto_background {
    0% {width: 100%; height: 100%; opacity: 0.7; left: 0; top: 0;}
    100% {width: 150%; height: 150%; opacity: 0; left: -25%; top: -25%;}
}

#headphoto {

    height: 80px;
    width: 80px;
    border: 1px solid gray;
    border-radius: 100%;
    background-color: white;
    background: url(/images/me.jpg) no-repeat;
    background-position: center;
    /* background-size: 85px; */
    background-size: cover;
}

#headphoto::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* left: -25%; */
    /* top: -50%; */
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    box-sizing: border-box;

    z-index: -1;

    animation: headphoto_background 2s ease-out 0s infinite normal both;
}

#my_name {
    font-size: 1.25em;
    
    font-weight: bold;
    color: rgb(10, 170, 255);
    /* text-shadow: 0 0 2px bla7ck; */
    
    /* height: fit-content;
    background-image: linear-gradient(to bottom right, var(--maincolor), skyblue);
    -webkit-background-clip: text;
    color: transparent; */
}

#my_content {
}

#my_content_decribe {

}

#connect_me {
    position: relative;
    background-color: var(--background_color_black_2_ope);
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
}

#connect_me_div {
    width: 100%;
    height: 100%;

    display: flex;
    justify-items: center;
    align-items: center;
}

#connect_me_div > a {
    /* width: 50%; */
    flex: 1;
    position: relative;
}

.card_content_title {
    /* position: relative; */
    position: absolute;
    top: -0.8em;
    left: 1em;
    font-size: 1.15em;
    /* height: 10px; */
    height: 0.8em;
    border-radius: 5px 5px 0 0;
    /* color: var(--maincolor); */
    /* animation: card_content_title 1s ease 0s 1 normal both; */
    /* width: fit-content; */
    border-bottom: 5px solid var(--maincolor);
    background-color: var(--background_color_black_2_ope);
}

.connect_me_icon {
    cursor: pointer;
    /* flex: auto; */
}

@media screen and (max-width:800px) {
    #headphoto {
        position: absolute;
    
        left: 50%;
        top: -40px;
        margin: 0 0 0 -40px;
    }
    
    #my_name {
        margin: 40px auto 1em auto;
    }
    
    #little_speak {
        position: relative;
        margin-bottom: 2em;
    }
    
    #little_speak::after {
        position: absolute;
        left: 0;
        bottom: -1em;
        content: "";
        width: 80%;
        margin: 0 10% 0 10%;
        border-bottom: 1px solid gray;
    }
    
    #connect_me {
        position: absolute;
        background-color: var(--background_color_black_2_ope);
        height: 50px;
        margin-bottom: 10px;
        left: 5%;
        right: 5%;
        bottom: 0;
        border: 1px solid gray;
        border-radius: 10px;
    }
    
    /* @keyframes card_content_title {
        0% {border-width: 0px;}
        100% {border-width: 3px;}
    } */
    
}

@media screen and (min-width:800px) {
    #card_1 {
        display: grid;
        width: 70%;
        padding: 0;
        grid-template-columns: 50% 50%;
    }
    #card_1_1 {
        display: flex;
        position: relative;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
    }
    #card_1_1::after {
        content: "";
        position: absolute;
        height: 80%;
        right: 0;
        border-right: 1px solid gray;
    }
    #card_1_1_content {
        width: 100%;
    }
    #card_1_2 {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
    }
    #headphoto {
        position: relative;
        top: unset;
        left: unset;
        margin: 0 auto;
    }
    #my_name {
        margin-bottom: 1em;
    }
    #connect_me {
        position: absolute;
        bottom: 1.5em;
        left: 1em;
        right: 1em;

    }
}

@keyframes button_to_detail_arrow {
    0% {left: 0; opacity: 1;}
    50% {left: 2em; opacity: 0;}
    51% {left: -1em; opacity: 0;}
    100% {left: 0; opacity: 1;}
}

#button_to_detail {
    /* font-size: ; */
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: #5FCBF5;
    border: none;
    background-color: transparent;
    
    cursor: pointer;
    /* border: 1px solid gray; */
    /* border-radius: 5px; */
}

.button_to_detail_arrow {
    position: relative;
    display: inline;
    animation: button_to_detail_arrow 2s ease 0s infinite normal both;
    /* animation-timing-function: inherit; */
}

#button_to_detail_arrow_3 {
    color: #5FCBF5;
}

#button_to_detail_arrow_2 {
    color: #5FCBF5;
    animation-delay: 0.1s;
}

#button_to_detail_arrow_1 {
    color: #5FCBF5;
    animation-delay: 0.2s;
}

@keyframes body_leave {
    0% {width: 0vw;}
    100% {width: 100vw;}
}

#bodyleave {
    z-index: 100;
    display: none;
    position: fixed;
    /* width: 0vw; */
    height: 100vh;
    background-color: var(--backgroundcolor);
    transition: all 1s;
    animation: none 1s ease 0s 1 normal both;
}

#footer_hr {
    display: none;
}

.card_2 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid var(--card_2_border);
    border-radius: 10px;
    background-color: var(--background_color_black);
}

.card_3 {
    width: 100%;
    /* height: 50em; */
    background-color: var(--background_color_black_1);
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}

@keyframes title_text {
    /* 0% {transform: rotateX(-90deg); opacity: 0.5;} */
    0% {top: -2em; opacity: 0;}
    /* 100% {transform: rotateX(0deg); opacity: 1;} */
    100% {top: 0; opacity: 1;}
}

.title_text {
    position: relative;
    margin-top: 5px;
    /* margin-left: 1em; */
    animation: none 0.5s ease 0s 1 normal both;
    animation-fill-mode: both;
    opacity: 0;
    /* transform: rotateX(-90deg); */
    top: -2em;
    color: var(--maincolor);
}

.title_div {
    display: flex;
    margin-left: 1em;
    /* padding: 0 1em 0 1em; */
    align-items: center;
    justify-items: center;
    font-size: 1.25em;
    color: var(--maincolor);
    overflow: hidden;
    /* display: inline; */
}

#my_favourite_game {
    text-align: center;
    padding: 1em;
    /* overflow: hidden; */
    /* height: 30vh; */
}

@keyframes my_favourite_game {
    0% {left: -25%; opacity: 0;}
    100% {left: 0%; opacity: 1;}
}

.my_favourite_game {
    position: relative;
    display: flex;
    align-items: center;
    
    background-color: var(--background_color_black_1);
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 1.5em;
    box-sizing: border-box;
    width: 100%;
    text-align: left;

    transition: all 0.5s;
    top: 0;
    left: 0;

    animation: my_favourite_game 0.5s ease 0s 1 normal both;
    animation-play-state: paused;
}

.my_favourite_game:last-child {
    margin-bottom: 0px;
}

.my_favourite_game_link {
    /* opacity: 0.5; */
    margin: 0 0 0 auto;
}

.my_favourite_game_link > a {
    position: relative;
    text-decoration: none;
    display: inline-flex;
}

.my_favourite_game:hover {
    top: -5px;
    left: -5px;
    box-shadow: 1px 2px 10px var(--maincolor);
    background-color: var(--background_color_black_2);
}

.Tips {
    /* visibility: hidden; */
    position: absolute;
    bottom: 110%;
    /* left: -50%; */
    padding: 5px;
    border-radius: 5px;
    width: 120px;
    margin-left: -60px;
    background-color: var(--background_color_black_4);
    color: white;
    cursor: default;
    opacity: 0;
    transition: all 0.5s;
}

.Tips_content {
    font-size: 0.5em;
    font-weight: 100;
}

.Tips::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 5px solid transparent;
    border-top-color: var(--background_color_black_4);
}

.my_favourite_game_link > a:hover .Tips {
    /* visibility: visible; */
    opacity: 1;
}

#my_friends {
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /* grid-template-rows: repeat(3,100px); */
    padding: 10px;
    
}

@keyframes my_friends_div_show {
    0% {right: -50px; opacity: 0;}
    100% {right: 0px; opacity: 1;}
}

.my_friends_div {
    position: relative;
    /* flex: 1; */
    opacity: 0;
    width: 10em;
    height: 5em;
    margin: 0 auto 10px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--background_color_black_1);
    animation: none 0.5s ease 0s 1 normal both;
    animation-fill-mode: both;
    transition: all 0.5s;
    top: 0px;
    z-index: 10;
    overflow: hidden;
}

.my_friends_div:hover {
    /* flex: 2; */
    top: -10px;
    left: -5px;
    /* width: 90%; */
    width: 15em;
    box-shadow: 1px 2px 10px var(--maincolor);
    
    height: 200px;
    z-index: 15;
}

.my_friends_cp_div {
    position: relative;
    grid-column: span 2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    opacity: 0;
    padding: 5px;
    /* margin: 0 auto; */
    width: 100%;
    margin-bottom: 10px;
    /* width: 90%; */
    box-sizing: border-box;
    border: 1px solid pink;
    border-radius: 10px;
    background-color: rgba(255,150,200, 0.1);
    z-index: 10;
    /* overflow: hidden; */

    animation: none 0.5s ease 0s 1 normal both;
    animation-fill-mode: both;
}

.my_friends_cp {
    /* flex: 1; */
    position: relative;
    /* display: inline-block; */
    overflow: hidden;
    width: 10em;
    height: 5em;
    margin: 0 auto;
    padding: 5px;
    background-color: var(--background_color_black_1);
    border-radius: 10px;
    transition: all 0.5s;
    top: 0px;
}

.my_friends_cp_1 {
    /* margin-right: 10px; */
}

.my_friends_cp:hover {
    top: -10px;
    left: -5px;
    /* width: 90%; */
    width: 15em;
    box-shadow: 1px 2px 10px var(--maincolor);
    
    height: 230px;
    z-index: 15;
    transition: all 0.5s;

}

.my_friends_header {
    display: flex;
}

.my_friends_head {
    width: 5em;
    height: 5em;
    background-color: gray;
    /* border: 1px solid white; */
    border-radius: 100%;
}

.my_friends_name {
    font-size: 1.2em;
    margin: 0 auto;
    /* width: fit-content; */
    /* height: 100%; */
    text-align: center;
}

.CP_label {
    margin-top: 5px;
    background-color: pink;
    color: palevioletred;
    border-radius: 5px;
}

.exclusive_background {
    position: absolute;
    width: 100%;
    height: 80%;
    opacity: 0.35;
    /* top: -5px; */
    margin-top: -30px;
    pointer-events: none; /* 点击穿透 */

}

#my_friends_head_1 {
    background: url(/css/images/my_friend/woer.png) no-repeat;
    background-position: center;
    background-size: contain;
}
#my_friends_name_1 {
    color: rgb(120, 160, 255);
    /* background-color: gray; */
}

#my_friends_head_2 {
    background: url(/css/images/my_friend/jinjulingmeng.png) no-repeat;
    background-position: center;
    background-size: contain;
}
#my_friends_name_2 {
    /* color: gold; */
    font-weight: bold;
    height: fit-content;
    background-image: linear-gradient(to bottom right, gold, skyblue);
    -webkit-background-clip: text;
    color: transparent;
}

#my_friends_head_3 {
    background: url(/css/images/my_friend/haideng.png) no-repeat;
    background-position: center;
    background-size: contain;
}
#my_friends_name_3 {
    color: rgb(10, 170, 255);
}

#my_friends_head_4 {
    background: url(/css/images/my_friend/chacha.png) no-repeat;
    background-position: center;
    background-size: contain;
}
#my_friends_name_4 {
    color: yellow;
}

#my_friends_head_5 {
    background: url(/css/images/my_friend/kaliyubai.jpg) no-repeat;
    background-position: center;
    background-size: contain;
}
#my_friends_name_5 {
    color: rgb(250, 200, 10);
}
#yubai {
    /* position: relative; */
}
#yubai_background {
    background: url(/css/images/my_friend/yubai_background.png) no-repeat;
    background-position: center;
    background-size: contain;
    left: -10px;
    /* z-index: 5; */
}

#my_friends_head_6 {
    background: url(/css/images/my_friend/xiaoai.jpg) no-repeat;
    background-position: center;
    background-size: contain;
}
#my_friends_name_6 {
    color: #FFF8E7;
}

#my_friends_head_7 {
    background: url(/css/images/my_friend/hanlin.png) no-repeat;
    background-position: center;
    background-size: contain;
}
#my_friends_name_7 {
    color: rgb(10, 170, 255);
}

#my_friends_head_8 {
    background: url(/css/images/my_friend/chuibing.png) no-repeat;
    background-position: center;
    background-size: contain;
}
#my_friends_name_8 {
    color: rgb(85,85,255);
}
#chuibing_background {
    background: url(/css/images/dayemao.png) no-repeat;
    background-position: center;
    background-size: contain;
}

#my_friends_head_9 {
    background: url(/css/images/my_friend/yuchen.png) no-repeat;
    background-position: center;
    background-size: contain;
}
#my_friends_name_9 {
    color: rgb(100, 190, 255);
}
#yuchen_background {
    background: url(/css/images/my_friend/yuchen_background.png) no-repeat;
    background-position: center;
    background-size: contain;
}

#my_friends_head_10 {
    background: url(/css/images/my_friend/chuanlinmomeng_fix.png) no-repeat;
    background-position: center;
    background-size: cover;
}
#my_friends_name_10 {
    color: rgb(100, 190, 255);
}
#chuanlin_background {
    background: url(/css/images/my_friend/) no-repeat;
    background-position: center;
    background-size: contain;
}

.my_friends_content {
    /* visibility: hidden; */
    /* padding: 0 5px 0 5px; */
    margin-top: 5px;
    color: white;
}

.my_friends_describe {
    margin: 0 10px 0 10px;
}

.my_friends_link {
    margin: 5px;
    padding-bottom: 5px;
    background-color: var(--background_color_black_2);
    /* border: 1px solid var(--background_color_black_2); */
    border-radius: 10px;
    font-size: 1.2em;
}
.my_friends_link_title {
    padding-left: 5px;
    color: var(--maincolor);

}

.my_friends_link_content {
    display: flex;
    width: 100%;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.my_friends_link_content > a{
    flex: 1;
}

#friend_link {
    margin: 10px;
    padding: 5px;
    background-color: var(--background_color_black_1);
    border-radius: 10px;
}

@media screen and (max-width: 480px) {

    #my_friends {
        grid-template-columns: 100%;
    }
    .my_friends_cp_div {
        /* width: auto; */
        flex-direction: column;
        grid-column: auto;
    }
    .my_friends_cp_1 {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    #my_friends {
        grid-template-columns: repeat(4, 25%);
    }
}

@media screen and (min-width: 1200px) {
    #my_friends {
        grid-template-columns: repeat(6, auto);
    }
}

#my_setting_padding {
    width: 100%;
    box-sizing: border-box;
    height: 70vh;
    padding: 10px;
}

#my_setting_div {
    /* width: 95%; */
    /* margin: 10px auto 10px auto; */
    height: 100%;
    border-radius: 20px;
    background-color: var(--background_color_black_1);
}

#my_setting {
    position: relative;
    top: 5%;
    margin: 0 auto;
    width: 90%;
    height: 90%;
    border: 1px dashed var(--background_color_black_3);
    border-radius: 20px;
}

#my_setting_content {
    position: relative;
    top: 50%;
    color: gray;
    /* height: 100%; */
    text-align: center;
    
}

#my_goals_padding {
    /* height: 50vh; */
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

#my_goals_div {
    height: 100%;
    /* width: 100%; */
    width: auto;
    background-color: var(--background_color_black_1);
    border-radius: 20px;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
}

@keyframes my_goals {
    0% {left: 100px; opacity: 0;}
    100% {left: 0px; opacity: 1;}
}

.my_goals {
    position: relative;
    color: white;
    margin: 5px;
    /* padding: 5px 1em 5px 1em; */
    padding: 5px;
    text-align: center;
    margin: 0 1em 0.5em 0;
    border: 1px solid var(--background_color_black_2);
    border-radius: 10px;

    min-width: fit-content;
    max-height: 1.25em;

    transition: all 0.5s;

    top: 0;
    left: 0;

    overflow: hidden;
    opacity: 0;

    flex: 1;
    animation: none 0.5s ease 0s 1 normal both;
    animation-fill-mode: both;
}

.my_goals > section {
    z-index: 15;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
}

.my_goals:hover {
    flex: 2;
    top: -5px;
    left: -5px;
    box-shadow: 1px 2px 10px var(--maincolor);
    background-color: var(--background_color_black_2);
    max-height: var(--this_maxheight);
}

.my_goals_background_number {
    position: absolute;
    right: 5px;
    /* left: 0; */
    top: -2px;
    font-size: 2em;
    font-style: italic;
    color: rgba(100,100,100, 0.5);
}

@keyframes my_goals_doing {
    0% {left: -100%;}
    100% {left: 150%;}
}
.my_goals_doing {
    position: absolute;
    top: -50%;
    height: 200%;
    width: 0px;
    /* background-color: ; */
    /* background-color: rgba(0,255,0,0.5); */
    box-shadow: 0 0 10px 10px rgba(0,255,0,0.3);
    z-index: -1;

    animation: my_goals_doing 2s linear 0s infinite normal both;
}

.my_goals_content {
    margin: 1em 0 0 0;
}

.my_goals_content_ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.my_goals_content_ul > li {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-color: var(--background_color_black_2);
    text-align: center;
    border: 1px solid var(--background_color_black_3);
    border-radius: 10px;
    margin-bottom: 5px;
    list-style: none;
    overflow: hidden;

    transition: all 0.5s;
    top: 0;
    left: 0;
}

.my_goals_content_ul > li:hover {
    top: -5px;
    left: -5px;
    box-shadow: 1px 2px 10px var(--maincolor);
    background-color: var(--background_color_black_2);
}

.my_goals_text {
    display: inline;
}

.my_goals_finish {
    /* position: relative; */
    display: inline-block;
    margin-left: 5px;
    width: 1em;
    height: 1em;
    background: url(/css/hud/finish.svg) no-repeat;
    background-position: center;
    background-size: contain;
    /* background-color: rgba(0,255,0,0.3); */
}

#gaokao_countdown {
    font-family: Ds-digital, Alimama, MiSans, "Motiva Sans", Sans-serif, Microsoft YaHei, Arial, Helvetica;
}

@keyframes copy_success {
    0% {top: -20px; opacity: 1;}
    100% {top: -70px; opacity: 0;}
}

.copy_success {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    color: rgb(0, 157, 255);
    text-shadow: black 1px 0 0;
    animation: copy_success 0.7s ease-in 0s 1 normal both;
}

@keyframes button_180 {
    0% {
        transform: rotate(0deg);
        -ms-transform:rotate(0deg); 	/* IE 9 */
        -moz-transform:rotate(0deg); 	/* Firefox */
        -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
        -o-transform:rotate(0deg); 	/* Opera */
    }
    100% {
        transform: rotate(180deg);
        -ms-transform:rotate(180deg); 	/* IE 9 */
        -moz-transform:rotate(180deg); 	/* Firefox */
        -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
        -o-transform:rotate(180deg); 	/* Opera */
    }
}
@keyframes button_360 {
    0% {
        transform: rotate(180deg);
        -ms-transform:rotate(180deg); 	/* IE 9 */
        -moz-transform:rotate(180deg); 	/* Firefox */
        -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
        -o-transform:rotate(180deg); 	/* Opera */
    }
    100% {
        transform: rotate(360deg);
        -ms-transform:rotate(360deg); 	/* IE 9 */
        -moz-transform:rotate(360deg); 	/* Firefox */
        -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
        -o-transform:rotate(360deg); 	/* Opera */
    }
}

@keyframes an_maxheight_show {
    0% {max-height: 0;}
    100% {max-height: var(--this_maxheight);}
}

@keyframes an_maxheight_hide {
    0% {max-height: var(--this_maxheight);}
    100% {max-height: 0;}
}

#guidang_div {
    margin-top: 1em;
}

.guidang {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
    border: 1px solid var(--background_color_black_3);
    border-radius: 10px;
}

.content_title {
    text-align: left;
    width: 100%;
    font-size: 1.25em;
    color: var(--maincolor);
}

.content_title > * {
    display: inline;
}

.title_button {
    position: relative;
    background-color: transparent;
    border: unset;
    padding: unset;
    cursor: pointer;
    padding: 0 1em;
    box-sizing: border-box;
    display: flex;
}

.title_button > section {
    box-sizing: border-box;
    width: 100%;
    /* padding-right: 30px; */
    color: var(--maincolor);
}

.button_arrow {
    /* position: absolute; */
    position: relative;
    /* display: inline; */
    top: 5px;
    /* right: 5px; */
    transform-origin: center;

    animation: none 0.5s ease 0s 1 normal both;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.guidang_content {
    /* color: white; */
    overflow: hidden;
    box-sizing: border-box;
    margin: 5px 1em 5px 1em;
    max-height: 0;
    animation: none 1s ease 0s 1 normal both;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.guidang_content > a {
    word-wrap: break-word;
}

#diary {
    overflow: hidden;
    margin: 1em 1em 0 1em;
    /* padding: 0 1em 0 1em; */
    list-style-position: inside;
    list-style: none;
    padding: 0;
    max-height: 0px;

    animation: none 2s ease 0s 1 normal both;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.diary_title {
    position: relative;
    font-size: 1.25em;
    background-color: var(--backgroundcolor_card);
    width: fit-content;
    padding: 0 5px 0 5px;
    border: 1px solid var(--gray);
    border-radius: 10px;
    background-color: var(--maincolor_thin);    /* margin-left: 10px; */
}

.diary_content {
    position: relative;
    /* display: inline-block; */
    padding-left: 20px;
    margin: 3px 0 3px 0;
    /* margin-left: 0px; */
}

#diary > li {
    display: list-item;
    margin: 0 0 5px 0;
    /* overflow: hidden; */

    /* 对于absolute定位的层总是相对于其最近的定义为absolute或relative的父层 */
    position: relative;
}

.diary_content::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 15px;
    width: 2px;
    /* box-shadow: 0px 0px 5px 5px var(--maincolor_thin); */
    background-color: var(--maincolor);
    /* z-index: 0; */
}

.diary_content_text {
    display: inline;
    /* width: 50%; */
}

.xiufu {
    display: inline-block;
    text-align: center;
    background-color: rgb(240, 190, 50);
    padding: 3px 5px 3px 5px;
    margin-right: 2px;
    border-radius: 2px;
    color: white;
}

.xinzeng {
    display: inline-block;
    text-align: center;
    background-color: rgb(0,255,0);
    padding: 3px 5px 3px 5px;
    margin-right: 2px;
    border-radius: 2px;
    color: white;
    
}

.yichu {
    display: inline-block;
    text-align: center;
    background-color: rgb(255,0,0);
    padding: 3px 5px 3px 5px;
    margin-right: 2px;
    /* border: 1px solid var(--gray); */
    border-radius: 2px;
    color: white;
}

.xiugai {
    display: inline-block;
    text-align: center;
    background-color: rgb(50,50,50);
    padding: 3px 5px 3px 5px;
    margin-right: 2px;
    /* border: 1px solid var(--gray); */
    border-radius: 2px;
    color: white;
}

.bushu {
    display: inline-block;
    text-align: center;
    background-color: var(--maincolor);
    padding: 3px 5px 3px 5px;
    margin-right: 2px;
    border-radius: 2px;
    color: black;
}

#scroll_up {
    /* display: none; */
    position: fixed;
    right: -100%;
    bottom: 2em;
    height: 35px;
    width: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: var(--background_color_black_3_ope);
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

    --show_right_start:-100%;
    --show_right_end:1em;
    --hide_right_start:1em;
    --hide_right_end:-100%;

    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    
    z-index: 1000;
}

@keyframes scrolling {
    0% {top: 0;}
    50% {top: -110%;}
    51% {top: 110%;}
    100% {top: 0;}
}

#scroll_up_content {
    position: relative;

    background: url(/css/hud/Arrow-up.svg) no-repeat;
    background-position: center;
    background-size: 40px;
    margin: auto;
    width: 85%;
    height: 95%;

    animation: none 0.7s linear 0s infinite normal none;
}