@keyframes gointo_left {
    0% {opacity: 0; left: -100px;}
    100% {opacity: 1; left: 0px;}
}

@keyframes gointo_right {
    0% {opacity: 0; right: -100px;}
    100% {opacity: 1; right: 0px;}
}

#head_me {
    /* background-color: var(--backgroundcolor) !important;
    border-bottom: none; */
}

#body_me {
    margin: 1em auto 1em auto;
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#header2 {
    grid-template-columns: auto auto auto auto auto auto;
    width: 75%;
}
