#head2_littlepoet {
    border-bottom: none;
    background-color: var(--backgroundcolor) !important;
}

.div_card_small{
    /* width: 100%; */
    display: grid;
    grid-template-columns: 100%;
    /* gap: 1em; */
    padding: 0.5em 0 0.5em 0;
    gap: 2em;
    /* margin: 1em 1em 1em 1em; */
}

@keyframes show_from_right {
    0% {right: -10em; opacity: 0;}
    100% {right: 0em; opacity: 1;}
}
.card_small {
    position: relative;
    width: 40%;
    font-size: 1em;
    text-align: center;
    /* height: 5em; */
    /* height: 10em; */
    /* margin: 0.5em auto 0.5em auto; */
    
    background-color: white;
    margin: 0 auto 0 auto;
    border: 0px solid var(--gray);
    border-radius: 15px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    animation-name: show_from_right;
    animation-duration: 1s;
    animation-fill-mode: both;
    /* float: left; */
}
