
#reality {
    position: relative;
    margin: 0 5% 0 0;
    width: 95%;
    /* height: 30em; */
    background-color: white;
    border: 0px solid white;
    border-radius: 15px;

    animation-name: gointo_left;
    animation-duration: 1s;
}

#furry {
    position: relative;
    margin: 0 5% 0 0;
    width: 95%;
    /* height: 30em; */
    background-color: white;
    border: 0px solid white;
    border-radius: 15px;
    
    animation-name: gointo_right;
    animation-duration: 1s;
}

#reality {
    font-size: 2em;
    text-align: right;
}

#furry_text {
    font-size: 2em;
    text-align: left;
}

.card section {
    font-size: 5em;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(73,188,246), rgb(6,194,174));
    -webkit-background-clip: text;
    color: transparent;
}

.card div {
    width: 300px;
    height: 300px;
    margin: auto;
}