#whole_diary {
    display: grid;
    grid-template-columns : 75% 25%;
    grid-template-rows: min-content min-content;
}

.card {
    width: 95%;
    /* margin: 0 0 10px 0; */
}

@media screen and (max-width: 600px) {
    #whole_diary {
        display: grid;
        grid-template-columns : 100%;
    }
}

#diary {
    margin: 0 1em 0 1em;
    /* padding: 0 1em 0 1em; */
    list-style-position: inside;
    list-style: none;
    padding: 0;
    
}

.diary_title {
    font-size: 1.5em;
    background-color: var(--backgroundcolor_card);
    /* margin-left: 10px; */
}

.diary_content {
    position: relative;
    /* display: inline-block; */
    padding-left: 15px;
    margin-left: 0px;
}

#diary > li {
    display: list-item;
    /* overflow: hidden; */

    /* 对于absolute定位的层总是相对于其最近的定义为absolute或relative的父层 */
    position: relative;
}

.diary_content::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 5px;
    width: 1px;
    background-color: var(--gray);
    /* z-index: 0; */
}

.xiufu {
    display: inline-block;
    background-color: rgb(240, 190, 50);
    padding: 0 2px 0 2px;
    margin-right: 2px;
    border-radius: 2px;
    color: white;
}

.xinzeng {
    display: inline-block;
    background-color: rgb(50, 240, 60);
    padding: 0 2px 0 2px;
    margin-right: 2px;
    border-radius: 2px;
    color: white;
}

.yichu {
    display: inline-block;
    background-color: rgb(255,0,0);
    padding: 0 2px 0 2px;
    margin-right: 2px;
    /* border: 1px solid var(--gray); */
    border-radius: 2px;
    color: white;
}

.xiugai {
    display: inline-block;
    background-color: rgb(50,50,50);
    padding: 0 2px 0 2px;
    margin-right: 2px;
    /* border: 1px solid var(--gray); */
    border-radius: 2px;
    color: white;
}